/* Formatting for the entire website */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, .wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Formatting for the header of the website */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* Formatting for the main content of the website */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.center {
  text-align: center;
  margin: 20px;
}

/* Formatting for the Password Criteria */

form {
  margin: 10px;
}

label {
  display: block;
}

/* Formatting for Slider Inputs */
input[type=range] {
  appearance: none;
  width: 75%;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding-left: 2px;
  padding-right: 2px;
  background: gray;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 9999em;
}

input[type=range]:hover,
input[type=range]:focus {
  background-color: #ccc;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 21px;
  height: 21px;
  background: #fff;
  cursor: pointer;
}

/* Formatting for Checkbox Inputs */
input[type=checkbox] {
  visibility: hidden;
  margin-top: 30px;
  margin-bottom: 20px;
}

input[type=checkbox] + span {
	cursor: pointer;
	text-indent: -9999px;
  left: 15px;
	width: 48px;
	height: 24px;
	background: grey;
	display: block;
	border-radius: 9999em;
	position: relative;
  user-select: auto; 
}

input[type=checkbox] + span:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 9999em;
	transition: 0.3s;
}

input[type=checkbox]:checked + span {
	background: #bada55;
}

input[type=checkbox]:checked + span:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

input[type=checkbox] + span:active:after {
	width: 20px;
}

input[type=checkbox] + span:hover {
  background-color: #ccc;
}

/* Formatting for the Generate Password button */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Formatting for changes in the view window for the website */
@media (max-width: 690px) {
  #password {
    font-size: 1rem;
  }
}

